<head>
   
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/5star.css">
        <link rel="stylesheet" href="/stylesheets/editProfile.css">
    </head>
        <div class="padre">
        <header class= "header">
            <div class= "menu">
                <div class="logo">
                    <a href="/">
                        <img src="/img/login/logotipo-white.png" alt= "" >
                    </a>
                </div>
                <div class="descarga">
                    <a  target="_blank" href="https://www.behance.net/gallery/43584021/NOMADAYS-app" class="descargar">Descarga la app</a>
                </div>
                <div class="hamburguesa">
                    <a href="/home">
                        <img src="/img/login/hamburguer-menu.png" alt= "" >
                    </a>
                </div>
            </div>
        </header>
        <form action="/profile/editProfile/<%- user.id %>?_method=PUT" enctype="multipart/form-data" method="post">
            <div class="edit-profile">
                <div class="user">
                    
                    <img class="picture" src="<%- user.image %>" alt= "" >
                    <input type="file" name="userFile" />
                    
                </div>
                
                    <input type="hidden" name="_method" value="PUT">
                        <div class="personal-info">
                                <div class="first name"><%- user.name %></div>
                                <div class="first email"><%- user.email %></div>  
                                <div class="age">Edad:
                                    <input class= "ages" type="number" name="age" value ="<%- user.age %>" required placeholder="Opcional">
                                </div>
                                <div class="description">¡Cuentanos más sobre ti!
                                    <textarea class= "life" type="text" name="comment" required placeholder="Todo nómada tiene una historia detrás, ¿Cúal es la tuya?"><%= user.comment %></textarea>
                                </div>
                        </div>
        
            </div>
            <button class="edit save"><p>Guardar</p></button>
        </form>  

        <footer class="footer">
            <div class="info">
                <a  href="" class="contacto">Contacto</a>
                <a  href="" class="condiciones">Condiciones legales</a>
                <a  href=""class="work">Trabaja con nosotros</a>
            </div>
            <div class="terminos"><p>© Nomadays  S.L. All rights reserved</p></div>
            <div class="rrss">
                    
                            <a class="ig" href="login.html">
                                <img src="/img/login/icono1.png" alt= "" >
                            </a>
                        
        
                    
                                <a class="pn" href="login.html">
                                    <img src="/img/login/icono2.png" alt= "" >
                                </a>
                            
                            
                            
                            <a class="fb" href="login.html">
                                    <img src="/img/login/icono3.png" alt= "" >
                            </a>    
        
            </div>
            
        </footer>
        </div>