<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:200,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/editTrip.css">
</head>

<div class="card card-body">
    <h3>Edit Trip</h3>
    <form action="/profile/updateTrip/<%- trip.id %>?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="originCity">Origin City</label>
            <select class="form-control" id="originCity" name="originCity" >
                <% if (typeof(cities) != 'undefined') { %>
                    <% cities.forEach(function(cities) { %>
                        <% if (cities.name == trip.originCity) { %>
                            <option value="<%- cities.name %>" selected="<%- cities.name %>"><%- cities.name %></option>
                        <% } else { %>
                            <option value="<%- cities.name %>"><%- cities.name %></option>
                        <% } %>    
                    <% }); %>
                <% } %>
            </select>                
                    
        </div>
        <div class="form-group">
            <label for="destinationCity">Destination City</label>
            <select class="form-control" id="destinationCity" name="destinationCity" selected="<%= trip.destinationCity %>">
                <% if (typeof(cities) != 'undefined') { %>
                    <% cities.forEach(function(cities) { %>
                        <% if (cities.name == trip.destinationCity) { %>
                            <option value="<%- cities.name %>" selected="<%- cities.name %>"><%- cities.name %></option>
                        <% } else { %>
                            <option value="<%- cities.name %>"><%- cities.name %></option>
                        <% } %>    
                    <% }); %>
                <% } %>
            </select>                           
        </div>
        <div class="form-group">
            <label for="dateInitial">Date Initial</label>
            <input type="text" class="form-control" id="dateInitial" name="dateInitial" value="<%= moment(trip.dateInitial).format('YYYY-MM-DD') %>">          
        </div>
        <div class="form-group">
            <label for="dateEnd">Destination City</label>
            <input type="text" class="form-control" id="dateEnd" name="dateEnd" value="<%= moment(trip.dateEnd).format('YYYY-MM-DD') %>">          
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- contentFor('scripts') %>
<script>

    $(document).ready(() => {
        $('#dateInitial').datepicker({
            isRTL: false,
            autoclose: true, 
            format: 'yyyy/mm/dd',
            lang: 'es',
            weekStart: 1,
        });

        $('#dateEnd').datepicker({
            isRTL: false,
            autoclose: true, 
            format: 'yyyy/mm/dd',
            lang: 'es',
            weekStart: 1,
        });
        
    });    

</script>
